.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item {
  width: 80%;
  text-align: center;
  margin: 10px 0; /* Espaçamento entre os elementos */
}

.gallery-item img {
  max-width: 30%;
  height: auto;
}
